@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pretendard:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 412px;
  margin: 0 auto;
  background-color: #F6F6F6;
}