@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pretendard:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 412px;
  margin: 0 auto;
  background-color: #f6f6f6;
  height: 100vh;
  overflow-y: hidden;
}

/* 스크롤바 디자인 */
@layer utilities {
  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  body::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
  }
}
